<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание объекта</title>
</head>
<body>

    <h1>Форма для создания объекта</h1>

    <form method="POST">


        <label for="oborudovanie"> Оборудованеие:</label>
        <input type="text" id="oborudovanie" name="oborudovanie" required>
        <br><br>      


        <label for="user">фио:</label>
        <input type="text" id="user" name="user" required>
        <br><br>

        <label for="typeProblem">тип проблемы:</label>
        <input type="text" id="typeProblem" name="typeProblem" required>
        <br><br>

        <label for="description">описание проблемы:</label>
        <textarea id="description" name="description" required></textarea>
        <br><br>

        <button type="submit">Создать объект</button>
    </form>

</body>
</html>